{% import '_utilities/image' as img %}

<a href="{{ siteUrl }}" class="{% if global.logo|length %}block h-12{% endif %} w-12 text-red-600">
    {% if global.logo|length %}
        <span class="sr-only">{{ siteName }}</span>
        {% set logo = global.logo.eagerly().all() %}
        {{ img.pictures(logo, true) }}
    {% else %}
        {{ siteName }}
    {% endif %}
</a>
